#createdTable {
    /* border: 1px solid red; */
    padding: 2;
    border-spacing: 0;
    align: center;
}

.createdTH,
.createdTD {
    border: 1px solid red;
    text-align: center;
}

.createdTH {
    background-color: blue;
    color: white;
    width: 200px;
}