.Thu,
.Tiet {
    color: red;
    background-color: #FFEFD5;
}

.TKWeb1 {
    background-color: #00FF00;
}

.HDH {
    background-color: #4876FF;
}

.TKCSDL {
    background-color: #87CEEB;
}

.LTDT {
    background-color: #FFC125;
}

.CSDL {
    background-color: #FFC1C1;
}